.section-best.section-best {
  padding-bottom: 0px;
  padding-top: 30px;
}

.best-work {
  @media screen and (min-width: 767px) {
    display: flex;
    width: 100%;
  }
}

.best-work__best-list {
  @media screen and (min-width: 767px) {
    width: 100%;
  }
}

.best-work__best-list:not(:last-child) {
  margin-right: 30px;
}

.anten,
.time,
.computer,
.astronavt {
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.anten__logo,
.time__logo,
.astronavt__logo,
.computer__logo {
  width: 70px;
  height: 70px;
}
