.section-clients {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
  }
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.customers-list__icon {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--main-akcent-color);
    border-color: var(--main-akcent-color);
  }
  .inlogo-company {
    width: 106px;
    height: 60px;
  }
}
