.join {
  width: 100%;
  margin-right: 0;

  .join__title {
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    @media screen and(min-width:1200px) {
      margin-right: auto;
    }
  }
}
.form-fild-ff {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-fild-ff__email-input {
    height: 50px;
    max-width: 450px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    outline: none;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    @media screen and(min-width:1200px) {
      width: 358px;
      margin-bottom: 20px;
    }
  }
}

.btn-submit {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 15px;
  }

  .btn-submit__text {
    padding-left: 29px;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  .btn-submit__logo {
    margin-left: 10px;
  }
}

@media screen and(min-width:1200px) {
  .join {
    width: 100%;
    height: 86px;
    margin-right: 0;
    margin-left: 93px;
    display: flex;
    flex-direction: column;
  }
  .form-fild-ff {
    position: relative;
    margin-right: 0;
    flex-direction: row;

    .form-fild-ff__email-input {
      width: 358px;
    }
  }
}
