.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  @media screen and(min-width:1200px) {
    height: 252px;
  }
  .footer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and(min-width:1200px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

.contacts {
  text-align: center;
  margin-bottom: 60px;
}

.logo.footer-logo {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
}

.logo__label--white {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-akcent-color);
  }
}

.adress-list__unit:not(:last-child) {
  margin-bottom: 8px;
}

.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--main-akcent-color);
  }
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--main-akcent-color);
  }
}

.social-block {
  margin: 0 auto;

  .social-block__title {
    margin-bottom: 20px;

    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    font-style: normal;
    text-align: center;
  }
}

.social-list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;

  .social-list__unit {
    width: 44px;
    height: 44px;
  }

  &__unit:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--main-akcent-color);
  }
}

.contacts {
  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 76px;
  }
}

.social-block {
  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-right: 89px;
  }
}

.contact-social-block {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
}

@media screen and(min-width:1200px) {
  .social-block {
    margin: 0;
    padding-left: 70px;
  }
  .footer__block {
    flex-direction: row;
    align-items: flex-start;
  }
}
