.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 93px;
  padding-bottom: 94px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  overflow-y: scroll;
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* .modal--transform {
  transform: translate(-50%, -50%) scale(0.1);
} */

.modal {
  padding: 40px;
  position: relative;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    max-width: 450px;
    max-height: 609px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  margin-left: auto;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.btn-close__icon {
  fill: rgba(0, 0, 0, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .btn-close:hover &,
  .btn-close:focus & {
    fill: var(--main-akcent-color);
  }
}

.modal-form__title {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-fild {
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 30px;
  }

  .form-fild__label {
    position: absolute;
    top: -15px;
    left: 0;

    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
  }
}

.form-fild__text {
  display: block;
  position: relative;
}
.form-fild__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--main-akcent-color);
    outline: none;
  }

  &:focus-within ~ .form-fild__icon {
    fill: var(--main-akcent-color);
  }
}

.form-fild__input:focus + .form-fild__label {
  color: var(--main-akcent-color);

  @media screen and (min-width: 768px) {
    color: #757575;
  }
}

.form-fild__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-fild__comment {
  width: 100%;
  min-height: 96px;
  height: 40px;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: var(--main-akcent-color);
    outline: none;
  }
  @media screen and (max-width: 767px) {
    &:focus + .form-fild__label {
      color: var(--main-akcent-color);
    }
  }
}

.checkbox:checked + .label-check > .check-icon {
  background-color: var(--main-akcent-color);
  border: none;
}

.label-check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #757575;

  @media screen and (min-width: 1200px) {
    font-size: 14;
    line-height: 1.71;
  }

  .check-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 5px;
  }
}

.policy-link {
  margin-left: 3px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--main-akcent-color);

  @media screen and (min-width: 1200px) {
    font-size: 14;
    line-height: 1.71;
  }
}

.btn-modal {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .btn-modal__text {
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}
