.team {
  background-color: #f5f4fa;

  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.78;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.67;
      margin-bottom: 50px;
    }
  }
}

.team-list__persone {
  text-align: center;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__persone:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.team-list {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and(min-width:1200px) {
    flex-wrap: unset;
    margin-left: 0;
    margin-top: 0;
  }
}

.team-list__persone {
  @media screen and (min-width: 768px) {
    width: 100%;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

.block {
  padding: 30px;
  background-color: rgba(255, 255, 255, 1);
  .block__title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em color var(--secondary-title-color);
  }
}

.team-list__text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.social-team {
  display: flex;
  justify-content: center;

  .social-team__item {
    width: 44px;
    height: 44px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.logo-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--main-akcent-color);
  }

  &:hover .inlogo,
  &:focus .inlogo {
    fill: #ffffff;
  }
}
