.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
      0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
}

/*позиционирование абзаца внутри карточки*/
.relative {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 294px;
  overflow: hidden;

  &::before {
    display: inline-block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-list__link:hover .relative::before {
  opacity: 1;
  transform: translatey(0);
}

.portfolio-list__link:focus .relative::before {
  opacity: 1;
  transform: translatey(0);
}

.pictures {
  margin-bottom: 0px;
}

.prgf {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  margin: 0;
  /*transform: translate(-50%, -50%);*/
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0;
  overflow: auto;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover .prgf {
  opacity: 1;
  transform: translatey(0);
}

.portfolio-list__link:focus .prgf {
  opacity: 1;
  transform: translatey(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card-content__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--main-akcent-color);
  }
}

.card-content__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;

  &:hover {
    color: var(--main-akcent-color);
  }
}
