.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.secondary-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.main-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.third-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
    min-height: 80px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.inlogo {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
